/*! Particl Foundation | by @AllienWorks */

@charset "UTF-8";

@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

@import 'normalize';
@import 'config';
@import 'mixins';
@import 'grid';
@import 'brickst';
@import 'icons';


// -------------[  CONFIG  ]------------- //




// -------------[  BASICS  ]------------- //

body {
  color: $text-muted;
  background: $bg;
}

h1, h2, h3 {
  color: $text;
}
h1 {
  font-size: 1.8rem;
  margin: 0.5rem 0 1.5rem;
}
h2 {
  font-size: 1.45rem;
  margin: 2.5rem 0 1.2rem;
}
h3 {
  font-size: 1.15rem;
  margin: 2.5rem 0 1.2rem;
}

a {
  color: $text;
  text-decoration: underline;
  &:hover {
    color: darken($color, 5%);
  }
}

p {
  line-height: 1.55;
}

hr {
  margin: 0;
  border-color: $bg-muted;
}


// ---------------[  UI  ]--------------- //




// -------------[  LAYOUT  ]------------- //

#page {
  background: $color-white;
  @include break(l) {
    max-width: 70rem;
    margin: 4rem auto;
    box-shadow: 0 2px 14px $bg-muted;
  }
}

#sidebar {
  padding: 1.1rem $gutter-width 0;
  text-align: center;
  @include break(m) {
    background: none;
    text-align: right;
    padding: 2rem 2.3rem;
  }
  @include break(l) {
    padding: 3.5rem 4.4rem;
  }
}

.logo {
  @extend %tfx;
  margin-bottom: 1rem;
  padding: 0.7rem 0;
  &:hover {
    opacity: 0.7;
  }
  @include break(m) {
    padding: 0;
    margin-bottom: 1.7rem;
  }
  @include break(l) {
    margin-bottom: 2rem;
  }
  img {
    width: 11.5rem;
    height: auto;
    @include break(l) {
      width: 13rem;
    }
  }
}

#menu {
  margin: 0 -1.5rem;
  padding: 1.2rem;
  list-style: none;
  background: $bg;
  border-top: 1px solid $bg-muted;
  @include break(m) {
    background: transparent;
    border-top: none;
    margin: 0;
    padding: 0;
  }
  a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0;
  }
}

#content {
  border-top: 1px solid $bg-muted;
  padding: 1.6rem $gutter-width;
  @include break(m) {
    border: none;
    border-left: 1px solid $bg-muted;
    padding: 2.3rem 3.2rem 2.3rem;
  }
  @include break(l) {
    padding: 4.4rem 6rem;
  }
}

#footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 2.6rem 0 1.6rem;
  background: $bg;
  @include break(m) {
    text-align: left;
    background: none;
  }
  .title {
    font-weight: bold;
    text-transform: uppercase;
    color: darken($text-muted, 5%);
  }
  p {
    margin-bottom: 1.6rem;
  }
  a {
    color: $text-muted;
    &:hover {
      color: $color;
    }
  }
}

// ------------[  SPECIFIC  ]------------ //




// ------------[  PLUG-INS  ]------------ //




// -------------[  HELPER  ]------------- //


